@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body, .card{
    background-color: #e6ffff;
    font-family: 'Roboto Condensed', sans-serif;
}

.card h2, h2{
    font-weight: bold;
}

.row {
    border: 10px solid transparent;
    height: 33%;
}

.col-sm,
.col-sm-8,
.col-sm-4,
.col-sm-10 {
    padding: 0;
    border: 5px solid transparent;
    display: flex;
    justify-content: center;

}

.iconost {
    align-items: center;
    font-size: 1.5rem;
}

.container {
    padding-left: 0;
    padding-right: 0;

}

.title {
    justify-content: start;

}

.parrafo-cualidades {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.img {
    margin-right: 21px;
}

.parrafoContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employment {
    width: 400px;
}

.employment h2 {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

.card-inline {
    display: inline-block;
}

.imagen {
    width: 372px;
    height: 200px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.card-inline {
    text-align: center;
}
.card img{
    margin-top: 10.5%;
}
li {
    width: 80%;
    text-align: center;
}
li img{
    padding-bottom: 33px;
}
.profesional-titulo{
    display: flex;
    align-items: center;
}